abstract-rendering==0.5.1
alabaster==0.7.7
alembic==0.8.5
amqp==2.1.1
anaconda-client==1.2.2
appnope==0.1.0
appscript==1.0.1
argcomplete==1.0.0
astropy==1.1.1
Babel==2.3.4
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
billiard==3.5.0.2
bitarray==0.8.1
blaze==0.9.0
blinker==1.4
boilerpipe==1.2.0.0
bokeh==0.11.0
boto==2.39.0
Bottleneck==1.0.0
brewer2mpl==1.4.1
caravel==0.8.5
cdecimal==2.3
celery==4.0.0
cffi==1.5.2
charade==1.0.3
click==6.6
clyent==1.2.0
colorama==0.3.6
conda==4.2.13
conda-build==1.19.0
configobj==5.0.6
coverage==4.2
cryptography==1.3.1
cycler==0.9.0
Cython==0.24.1
cytoolz==0.7.5
datashape==0.5.0
decorator==4.0.10
django-celery==3.1.17
docopt==0.6.2
docutils==0.12
dynd===f641248
enum34==1.1.6
et-xmlfile==1.0.1
facebook-sdk==1.0.0
fastcache==1.0.2
feedparser==5.2.1
Flask==0.11.1
Flask-AppBuilder==1.6.0
Flask-Babel==0.11.1
Flask-BabelPkg==0.9.6
Flask-Cache==0.13.1
Flask-DebugToolbar==0.10.0
Flask-Login==0.3.2
Flask-Migrate==1.8.0
Flask-OpenID==1.2.5
Flask-Script==2.0.5
Flask-SQLAlchemy==2.0
Flask-Testing==0.4.2
Flask-WhooshAlchemy==0.56
Flask-WTF==0.13
flipflop==1.0
funcsigs==0.4
future==0.15.2
futures==3.0.5
gapic-google-logging-v2==0.10.1
gapic-google-pubsub-v1==0.10.1
gax-google-logging-v2==0.8.3
gax-google-pubsub-v1==0.8.3
gcloud==0.18.3
gevent==1.0.2
gevent-websocket==0.9.5
ggplot==0.6.8
google==1.9.3
google-api-python-client==1.5.3
google-cloud-bigquery==0.20.0
google-cloud-bigtable==0.20.0
google-cloud-core==0.20.0
google-cloud-datastore==0.20.0
google-cloud-dns==0.20.0
google-cloud-error-reporting==0.20.0
google-cloud-language==0.20.0
google-cloud-logging==0.20.0
google-cloud-monitoring==0.20.0
google-cloud-pubsub==0.20.0
google-cloud-resource-manager==0.20.0
google-cloud-storage==0.20.0
google-cloud-translate==0.20.0
google-cloud-vision==0.20.0
google-gax==0.12.5
googleapis-common-protos==1.3.5
GoogleAppEngineCloudStorageClient==1.9.22.1
greenlet==0.4.9
grin==1.2.1
grpc-google-iam-v1==0.10.1
grpc-google-logging-v2==0.8.1
grpc-google-pubsub-v1==0.8.1
grpcio==1.0.0
gspread==0.3.0
guess-language==0.2
gunicorn==19.6.0
h5py==2.5.0
httplib2==0.9.2
humanize==0.5.1
idna==2.0
ipaddress==1.0.14
ipdb==0.10.1
ipykernel==4.2.2
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==4.1.1
itsdangerous==0.24
jdcal==1.2
jedi==0.9.0
Jinja2==2.8
JPype1==0.6.1
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.1.0
jupyter-core==4.0.6
Kaggler==0.4.0
kombu==4.0.0
llvmlite==0.8.0
logging==0.4.9.6
lxml==3.5.0
Mako==1.0.4
Markdown==2.6.6
MarkupSafe==0.23
matplotlib==1.5.1
mistune==0.7.1
multipledispatch==0.4.8
nbconvert==4.1.0
nbformat==4.0.1
networkx==1.11
nltk==3.2.1
nose==1.3.7
notebook==4.1.0
numba==0.23.1
numexpr==2.4.6
numpy==1.11.1
oauth2client==3.0.0
oauthlib==2.0.0
odo==0.4.0
openpyxl==2.3.2
pandas==0.18.1
parsedatetime==2.0
path.py==0.0.0
pathlib2==2.1.0
patsy==0.4.0
pbr==1.10.0
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==3.1.0
pipreqs==0.4.4
pluggy==0.4.0
ply==3.8
prettytable==0.7.2
prompt-toolkit==1.0.7
protobuf==3.1.0.post1
psutil==3.4.2
ptyprocess==0.5.1
py==1.4.31
pyasn1==0.1.9
pyasn1-modules==0.0.8
PyAudio==0.2.7
pycosat==0.6.1
pycparser==2.14
pycrypto==2.6.1
pycurl==7.19.5.3
pydruid==0.2.3
pyflakes==1.0.0
Pygments==2.1.3
pyOpenSSL==0.15.1
pyparsing==2.0.3
pytest==2.8.5
python-dateutil==2.5.3
python-editor==1.0
python-openid==2.2.5
python-utils==2.0.0
pytz==2016.6.1
PyYAML==3.11
pyzmq==15.2.0
qtconsole==4.1.1
redis==2.10.3
requests==2.11.1
requests-oauthlib==0.7.0
rope==0.9.4
rsa==3.4.2
ruamel-yaml===-VERSION
scikit-image==0.11.3
scikit-learn==0.18
scipy==0.18.0
selenium==2.53.5
simplegeneric==0.8.1
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
snowballstemmer==1.2.1
sockjs-tornado==1.0.1
speaklater==1.3
Sphinx==1.3.5
sphinx-rtd-theme==0.1.9
splinter==0.7.3
spyder==2.3.8
SQLAlchemy==1.0.12
sqlalchemy-migrate==0.10.0
SQLAlchemy-Utils==0.31.6
sqlparse==0.1.19
statsmodels==0.6.1
stevedore==1.17.1
sympy==0.7.6.1
tables==3.2.2
Tempita==0.5.2
terminado==0.5
textblob==0.11.1
textblob-aptagger==0.2.0
toolz==0.7.4
tornado==4.3
tox==2.4.1
traitlets==4.3.1
unicodecsv==0.14.1
uritemplate==0.6
validate-email==1.3
vine==1.1.3
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wcwidth==0.1.7
Werkzeug==0.11.11
Whoosh==2.7.4
WTForms==2.1
xlrd==0.9.4
XlsxWriter==0.8.4
xlwings==0.6.4
xlwt==1.0.0
yarg==0.1.9
