/*html, body {
  background: #E59866; ##85929EE59866#E59866; #F1948A,D9853B;#45B39D#19f6e8;;
  /*height: 100%;*/
  /*overflow: hidden;*/
  /*text-align: center;*/
/*}*/
@media screen and (min-width: 1200px) {
  .text {
    /*color: #fff;
    font-family: 'Roboto Condensed';*/
    font-size: 10px;
    letter-spacing: 8px;
    line-height: 32px;
   /* position: absolute;
    top: 10%;
    left: 24%;
    text-align: center;*/
  }
}

/*html, body {
  background: #6AAEED;
  height: 100%;
  overflow: hidden;
  text-align: center;
  
}*/
.mapboxgl-popup {
    color: #098BB7; 
}

h2 {
  color: #E59866;
  font-family: 'Chalkduster';
  font-size: 38px;
  /*letter-spacing: 8px;
  line-height: 28px;*/
  top: 5%;
  position: absolute;
  /*top: 15%;*/
  left: 10%;
  /*text-align: center;*/
}
h3 {
  color: #E59866;
  font-family: 'Chalkduster';
  font-size: 20px;
  /*letter-spacing: 8px;
  line-height: 28px;*/
  top: 15%;
  position: absolute;
  /*top: 15%;*/
  left: 15%;
  /*text-align: center;*/
}
@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

body { margin:0; 
       padding:0;
       height: 1000px; 
     }

.btn-primary.focus {
  color: #fff;

}
#restaurant {
  width:100%;
}
/*#poly_food {
      width:35%; 
      height: 35%;

  }*/

#poly_div {
    /*background-color: #E59866;*/
    position: relative;
    height: 90vh;


}
#space {
  height: 3%;
}
#map { 
      /*position:absolute; */
      /*top:50%; */
      /*bottom:10%; */
      width:100%; 
      /*left: 1%;*/
     /* right: 5%;*/
     /* right: 30%;*/
      left: 1.5%;
      height: 94vh;
      bottom: 0%;
    }
#footer {
  height: 5%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#sideNav {
  position:absolute; 
  top: 0%;
  left: 2%;
  bottom: 95%;
  z-index: 1;

}


#dashboard {
    position: relative;
   /* top: 90%;*/
    width:90%;
    /*left: 8%;*/
    z-index: 1;
    text-align: center;
}

#name{
    color: red;
}

#restore {
    position:absolute; 
    top: 93%;
    left: 45%;
    z-index: 1;
    background-color: #66a5ad;
    border-color: #E59866;

}

#clear {
    position: absolute;
    top: 93%;
    left: 30%;
    z-index: 1;
    background-color: #66a5ad;
    border-color: #E59866;
}

#tilt {
    position:absolute; 
    top: 93%;
    left: 45%;
    z-index: 1;
    background-color: #66a5ad;
    border-color: #E59866;

}

#ViewKMeanCluster{
    position:absolute; 
    top: 93%;
    left: 60%;
    z-index: 1;
    background-color: #66a5ad;
    border-color: #E59866;
}

#HideKMeanCluster{
    position:absolute; 
    top: 93%;
    left: 60%;
    z-index: 1;
    background-color: #66a5ad;
    border-color: #E59866;

} 

.color_bar {
  background-color: #fff;
  border-radius: 3px;
  /*bottom: 30px;*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  /*right: 10px;*/
  top: 60%;
  left: 90%;
  z-index: 1;
}

.color_bar h4 {
  margin: 0 0 10px;
}

.color_bar div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}