<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.css' rel='stylesheet' />
    <script src="static/mapbox-gl-draw.js"></script>
    <link href='static/mapbox-gl-draw.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>
<body>

<div id='map'></div>
<script>
mapboxgl.accessToken = "pk.eyJ1IjoicGVpeWFuMDgiLCJhIjoiY2l5bmdjNDhjMDA0azMzcGliZ2h0anAzdiJ9.ZGLw7lYBNkURtySzhZ9-Bw";
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v9', //stylesheet location
    center: [9.10349459743145,39.20711996956351], // starting position
    zoom: 10.5 // starting zoom
});
var Draw = mapboxgl.Draw();
map.addControl(Draw);
</script>

</body>
</html>