<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:5%; padding:5%; }
        #map { position:absolute; top:10%; bottom:20%; width:85%; }
    </style>
</head>
<body>

<style>
.distance-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.distance-container > * {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
}

#get_button {
    position: absolute;
    top: 93%;
    left: 50%;
    z-index: 1;
}

#clear {
    position: absolute;
    top: 93%;
    left: 30%;
    z-index: 1;
}
</style>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.css' type='text/css' />



<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

<div id='map'>
    <div id='distance' class='distance-container'></div>
    <input type=button name="clear" value="Clear Drawing" id="clear">
    <form action='/' method = 'POST'>
        <input type="submit" name="get_button" value="Get Restaurants" id="get_button">
    </form>
</div>

<script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>

<script src="http://code.jquery.com/jquery.js"></script>

<script src="static/mapbox-gl-draw.js"></script>
<link href='static/mapbox-gl-draw.css' rel='stylesheet' />


   


<script>

mapboxgl.accessToken = '{{token}}';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v9',
    center: [-115.172,36.155],//[-122.4, 37.8]
    zoom: 10
});



// var paw = 
// map.addControl(paw, "top-left")




var geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken
    });
map.addControl(geocoder, 'top-right');
map.addControl(new mapboxgl.NavigationControl(), 'bottom-right');
// map.addControl(geocoder);
// map.addControl(new mapboxgl.NavigationControl());

var d = mapboxgl.Draw();
d.addTo(map);
// map.addControl(Draw);

var button = document.getElementById('clear')

var distanceContainer = document.getElementById('distance');

// GeoJSON object to hold our measurement features
var geojson = {
    "type": "FeatureCollection",
    "features": []
};

// Used to draw a line between points
var linestring = {
    "type": "Feature",
    "geometry": {
        "type": "LineString",
        "coordinates": []
    }
};

function loading() {
    map.addSource('geojson', {
        "type": "geojson",
        "data": geojson
    });

    // Add styles to the map
    map.addLayer({
        id: 'measure-points',
        type: 'circle',
        source: 'geojson',
        paint: {
            'circle-radius': 5,
            'circle-color': '#000'
        },
        filter: ['in', '$type', 'Point']
    });
    map.addLayer({
        id: 'measure-lines',
        type: 'line',
        source: 'geojson',
        layout: {
            'line-cap': 'round',
            'line-join': 'round'
        },
        paint: {
            'line-color': '#000',
            'line-width': 2.5
        },
        filter: ['in', '$type', 'LineString']
    });

    map.on('click', function(e) {
        var features = map.queryRenderedFeatures(e.point, { layers: ['measure-points'] });

        if (geojson.features.length > 1 ) geojson.features.pop();

        // Clear the Distance container to populate it with a new value
        distanceContainer.innerHTML = '';

        // If a feature was clicked, remove it from the map
        // if (features.length) {
        //     var id = features[0].properties.id;
        //     geojson.features = geojson.features.filter(function(point) {
        //         return point.properties.id !== id;
        //     });
        // } else {
            var point = {
                "type": "Feature",
                "geometry": {
                    "type": "Point",
                    "coordinates": 
                        [e.lngLat.lng, e.lngLat.lat]
                    
                },
                "properties": {
                    "id": String(new Date().getTime())
                }
            };

            geojson.features.push(point);
        // }

        if (geojson.features.length > 1) {
            linestring.geometry.coordinates = geojson.features.map(function(point) {
                return point.geometry.coordinates;
            });

            geojson.features.push(linestring);

            // Populate the distanceContainer with total distance
            // var value = document.createElement('pre');
            // value.textContent = 'Total distance: ' + turf.lineDistance(linestring).toLocaleString() + 'km';
            // distanceContainer.appendChild(value);
        }

        map.getSource('geojson').setData(geojson);
    });
}

map.on('load', loading );


// map.on('mousemove', function (e) {
//     var features = map.queryRenderedFeatures(e.point, { layers: ['measure-points'] });
//     // UI indicator for clicking/hovering a point on the map
//     map.getCanvas().style.cursor = (features.length) ? 'pointer' : 'crosshair';
// });
function remove () {
    $('#get_button').prop('disabled', false)
    geojson.features = [];
    // $.get("/", function (data) {alert("good")});
    window.location = "/"
}

function passToServer(event) {
    event.preventDefault();
    $('#get_button').prop('disabled', true)

    coordinates = geojson.features[geojson.features.length -1].geometry.coordinates;
    
    coordinates_list = []
    for (var i=0; i < coordinates.length; i++) {
        
        coordinates_list.push({"lat": coordinates[i][1], "lng": coordinates[i][0]})
    }

    var parameter = {
        'data': JSON.stringify(coordinates_list)
    };
    $.post("/", 
        parameter,
        function(response){
            points = []
            for(var i=0; i<response.result.length; i++) {
                one_point = {
                            "type": "Feature",
                            "geometry": {
                            "type": "Point",
                            "coordinates": response.result[i]
                            },
                            "properties": {
                            "icon": "restaurant",
                            "marker-color": '#63b6e5'
                        }
                    }
                points.push(one_point) }
        map.addLayer({
        "id": "points",
        "type": "symbol",
        "source": {
            "type": "geojson",
            "data": {
                "type": "FeatureCollection",
                "features": points
            }
        },
        "layout": {
            "icon-image": "{icon}-11",
            "text-field": "{title}",
            "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
            "text-offset": [0, 0.6],
            "text-anchor": "top"
        }
    });
              
    })
}




$('#clear').on('click', remove)

$('#get_button').on('click', passToServer)


</script>

</body>
<a href="http://www.freepik.com/free-photos-vectors/background"></a>
</html>
